<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  </head>
  <body>
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <app-menu></app-menu>
      </nav>
    </div>
    
    <div class="content">
      <app-user></app-user>
    </div>

    <footer class="row">
        <app-footer></app-footer>
    </footer>
  </body>
</html>