.row{
    margin: 2%;
    padding: 1%;
    border: 2px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.content{
    margin: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px;
    border-color: black;
    border-style: solid;
}